:root {
  --primary-color: #2196f3;
  --simple-color: #000000;
  --secondary-color: #757575;
  --mainsection-clor: #2f303a;
  --item-color: #212121;
  --background-color: #2f303a;
  --whole-white-color:#ffffff;
  --footer-color: rgba(255, 255, 255, 0.6);
  --focus-color:#188CE8;
  --hero-bck-cloror:#F5F4FA;
}


body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color:var(--secondary-color);
background-color:var(--whole-white-color);
}
/* Css Header */ 
.header-logo {
  color: var(--primary-color);
  font-family: "Raleway",sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
  text-decoration: none;
  }
  
.conteiner-header{
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;

}

  .header {
      display: flex;
      align-items: center; 
      border: 1px solid #ECECEC;
  }
  .header-list {
    padding: 0;
    margin: 0;
    
    display: flex;
    gap: 50px;
    list-style: none;
    margin-left: auto;
   }
  
     .header-item{
      font-family: "Roboto",sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.1;
      letter-spacing: 0.03em;
     }
     .header-list-nav{
      margin: 0;
      padding: 0;
      display: flex;
      gap: 50px;
      list-style-type: none;
      
     }
  
     .header-nav {
      display: flex;
      align-items: center;
  }
  .color-logo {
    color: var(--simple-color);
      font-family: "Raleway",sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  }
  
  
  .header-link {
    display: block;
    padding: 32px 0;
  color: var(--item-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  
  }
  
   .header-link:hover{
      color: var(--primary-color);
  }
  
  
  .header-mal, .header-tel{
      font-weight: 500;
      font-size: 14px;
      line-height: 1.142;
      letter-spacing: 0.02em;
      color: var(--secondary-color);
      text-decoration: none;
  }
  
  .header-mal:hover{
      color: var(--primary-color);
  }
  .header-tel:hover{
      color: var(--primary-color);
  }

  .current{
    color: var(--primary-color);
  }


.main-button:hover {
  background-color: var(--primary-color);
  transition: all 0.4s ease;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color:var(--whole-white-color);
  cursor: pointer; 
}


.btn-group{
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
  
}

.main-button:focus{
  color: var(--focus-color);
}



.main-button{
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
border-radius: 4px;
color:var(--item-color);
border: none;
padding: 6px 22px;

}

.conteiner{
  width: 1200px;
  margin: 0 auto;
}

.box-group{
 width: 1200px;
 margin: 0 auto;
 padding-left: 15px;
 padding-right: 15px;
 
}


.main-section{
  background-color: var(--whole-white-color);
  padding-top: 90px;
  padding-bottom: 34px;
  
}

.photo-section{

  margin-bottom: 98px;
}

.button-item{
  font-style: normal;
  list-style: none;
color:var(--item-color);
cursor: pointer;
}

.header-content{
  margin: 0 auto;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  
}

.border{
  background: #FFFFFF;
border: 1px solid #EEEEEE;
padding-top: 20px;
padding-bottom: 30px;
padding-left: 35px;

 }


.header-first {
  display: flex;
 flex-wrap: wrap;
 padding: 0;
 margin: 0;
  gap: 30px;
}

.header-second{
  
  display: flex;
 flex-wrap: wrap;
 margin: 0;
 padding: 0;

  gap: 30px;
}


.header-third{
  
  display: flex;
 flex-wrap: wrap;
 padding: 0;
 margin: 0;
 gap30px;
}

.header-first a{
  text-decoration: none;
}
.header-second a{
  text-decoration: none;
}

.header-third a{
  text-decoration: none;
}

.title-item {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
 color:var(--item-color);
 padding-bottom: 4px;
 padding-top: 20px;
 padding-left: 24px;

}


.title-cat {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.9;
  padding-left: 24px;
  padding-bottom: 20px; 
 }

.title-cat a{
  text-decoration: none;
}


.conteiner{
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
 
}
 

.footer {
  background-color: var(--background-color);
  padding-bottom: 60px;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
.color-footer {
  color:var(--whole-white-color);
  
}
.type-footer {
  color: var(--primary-color);
  list-style: none;
  text-decoration: none;
  font-family: "Ralewey",sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 1px;
  
  
}
.footer-list {
  font-style: normal;
  list-style: none;
margin: 0;
padding: 0;
padding-top: 20px;
}
.footer-item {
  color: var(--fotter-color);
  padding-top :9px;
}

.footer-item a:hover {
  color: var(--primary-color);
}

.footer-item a:focus{
  color: var(--focus-color);
}
.footer-link {
  text-decoration: none;
  list-style-type: none;
  color:var(--whole-white-color);
}

.footer-mal{
  text-decoration: none;
  list-style: none;
  color:var(--fotter-color);
  

}
.footer-tel {
  text-decoration: none;
  list-style: none;
  color:var(--fotter-color);
}

