:root {
  --primary-color: #2196f3;
  --simple-color: #000000;
  --secondary-color: #757575;
  --mainsection-clor: #2f303a;
  --item-color: #212121;
  --background-color: #2f303a;
  --whole-white-color:#ffffff;
  --footer-color: rgba(255, 255, 255, 0.6);
  --focus-color:#188CE8;
  --hero-bck-cloror:#F5F4FA;
}




 body {
 font-family: "Roboto", sans-serif; 
 font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--item-color);
}



.color-logo {
  color: var(--simple-color);
  font-family: "Ralewey", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header-logo {
  color: var(--primary-color);
  text-decoration: none;
  list-style: none;
  font-family: "Ralewey", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}


.header-item a {
  color: var(--item-color);
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-item a:hover {
  color: var(--primary-color);
}
.header-link.current{
  color:var(--primary-color);
}
.header-item a:focus{
  color:var(--focus-color)
}


.link {
  text-decoration: none;
  color:var(--simple-color);
  list-style: none;
}

.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.header-mal {
  color: var(--item-color);
  text-decoration: none;
}

.header-tel {
  text-decoration: none;
  color: var(--secondary-color);
}

.header-contact {
  text-decoration: none;
  list-style: none;
  color: var(--secondary-color);
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.header-contact a:hover {
  color: var(--primary-color);
}

.header-contact a:focus{
  color:var(--focus-color)
}

.main-button:hover {
  background-color: var(--primary-color);
  transition: all 0.4s ease;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color:var(--whole-white-color);
  cursor: pointer; 
}

.main-button:focus{
  color: var(--focus-color);
}



.main-button{
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
border-radius: 4px;
color:var(--item-color);
}



.main-section{
  background-color: var(--whole-white-color);
}

.button-item{
  font-style: normal;
  list-style: none;
color:var(--item-color);
}
.header-item {
  list-style-type: none;
}

.title-item {
 color:var(--item-color);
}

.title-cat {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--background-color);
  text-decoration: none;
}
.color-footer {
  color:var(--whole-white-color);
}
.type-footer {
  color: var(--primary-color);
  list-style: none;
  text-decoration: none;
  font-family: "Ralewey", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.footer-list {
  font-style: normal;
  text-decoration: none;
  list-style: none;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-item {
  color:var(--footer-color);
  
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer-item a:hover {
  color:var(--primary-color);
}

.footer-item a:focus{
  color: var(--focus-color);
}

.footer-link {
  text-decoration: none;
  list-style-type: none;
  color:var(--whole-white-color);
}

.footer-mal,
.footer-tel {
  text-decoration: none;
  font-style: normal;
  list-style: none;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color:var(--footer-color);
}
